<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safehome.disenosoft.safehome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-sdk  android:targetSdkVersion="28" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo_safehome"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_safehome"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RegistroActivity"
            android:label="Registrar"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GestorHabitantesActivity"
            android:label="@string/title_activity_gestor_habitantes"
            android:theme="@style/AppTheme" />
        <activity android:name=".ValidadorPinActivity" />
        <activity android:name=".RegistrarHabitanteActivity" />
        <activity android:name=".ConfigurarCuentaActivity" />
        <activity
            android:name=".AccionesHogarActivity"
            android:label="@string/title_activity_acciones_hogar"
            android:theme="@style/AppTheme" />

        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>